#logo {
    display: block;
    margin: 0px auto 20px auto;
    width: 100%;
    max-width: 500px;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::placeholder,
textarea::placeholder {
    color: black;
}

#search-box {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 3px solid #44aa11;
    border-radius: 10px;
}

.content-container {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 5px solid #44aa11;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.data-container {
    flex-direction: row;
}

.tiles-container {
    gap: 10px;
}

.tile {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.today {
    border: 3px solid #44aa11;
}

.tomorrow {
    border: 3px solid #ff0000;
}

.item-tile {
    border: 3px solid #c0c0c0;
}

.hidden {
    display: none;
}

.sum-tile {
    border: 3px solid #ddd;
}

.photo-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-bottom: auto;
    border-radius: 17px 17px 0px 0px;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.sum-container {
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    margin-bottom: auto;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.under-sum-container {
    width: 100%;
    height: 40%;
    background-color: #f0f0f0;
    margin-top: auto;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-input {
    width: 200px;
    border: 2px solid #44aa11;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    font-family: Arial, sans-serif;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-button {
    margin: 10px;
    background-color: #44aa11;
    font-size: 17px;
}

.submit_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #44aa11;
    font-size: 25px;
}

.back_button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #e53517;
    font-size: 25px;
}

.label-container {
    margin: 10px;
    width: 45%;
    text-align: right;
}

.input-container {
    margin: 10px;
    width: 45%;
    text-align: left;
}

.item-list-form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}